body {
    background-color: #fff;
}
.header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: #f3f1f1;
    text-align: center;
}
.article {
    position: relative;
    top: 80px;
    width: 70%;
    min-height: 500px;
    background-color: #f3f1f1;
    float: left;
}
.aside {
    position: relative;
    top: 80px;
    width: 28%;
    min-height: 500px;
    background-color: #f3f1f1;
    float: right;
}
.footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 90px;
    background-color: #e4dfdf;
    text-align: center;
}